
/*=== PREVIOUS AND NEXT BUTTONS ==*/
#dryPreviousSlide,
#dryNextSlide
{
    float: left;
    background: rgba(0, 0, 0, 0.08);
    border: solid 2px #CCC;
    height: 36px;
    margin: 30px 10px 0;
    width: 106px;
}
#dryPreviousSlide {
    clear: both;
}
#dryPreviousSlide:hover,
#dryNextSlide:hover
{
    background: rgba(0, 0, 0, 0.15);
}


/*=== CONTENT CONTAINER ===*/
#dryContentContainer {
    border: solid 1px #bada55;
    float: left;
    height: 600px;
    width: 600px;
}
#dryContent li {
    display: none;
}
#dryContent li.selected {
    display: inline-block;
}




#drySlideContainer {
    border: solid 2px #CCC;
    float: left;
    height: 102px;
    overflow: hidden;
    position: relative;
    width: 714px;
}
#drySlides {
    height: 120px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 99999999px;
}
#drySlides li {
    border: solid 1px transparent;
    display: inline-block;
    float: left;
    height: 100px;
    opacity: .5;
    width: 100px;
}
#drySlides li.selected {
    border: solid 1px transparent;
    opacity: 1;
}