
/*=== PREVIOUS AND NEXT BUTTONS ==*/
.dryPreviousSlide,
.dryNextSlide
{
    float: left;  /* User Set Value */
    background: rgba(0, 0, 0, 0.08);  /* User Set Value */
    border: solid 2px #CCC;  /* User Set Value */
    height: 36px;  /* User Set Value */
    margin: 30px 10px 0;  /* User Set Value */
    width: 106px;  /* User Set Value */
}
.dryPreviousSlide {
    clear: both;
}
.dryPreviousSlide:hover,
.dryNextSlide:hover
{
    background: rgba(0, 0, 0, 0.15);  /* User Set Value */
}



/*=== CONTENT CONTAINER ===*/
.dryContentContainer {
    /*border: solid 1px #bada55;/*  /* User Set Value */
    float: left;  /* User Set Value */
    height: 200px;  /* User Set Value */
    overflow: hidden;
    position: relative;
    width: 350px;  /* User Set Value */
}
.dryContent {
    height: 400px;  /* User Set Value */
    margin: 0;
    padding: 0;
    position: absolute;
    width: 999999px;
}
.dryContent li {
    display: block;
    float: left;
    height: 200px; /* User Set Value */
    margin: 0;
    padding: 0;
    position: relative;
    width: 350px; /* User set value */
}
.dryContent li.selected {
}


/*=== COPY CONTENT CONTAINER ===*/
.dryCopyContentContainer {
    border: solid 1px #bada55;  /* User Set Value */
    float: left;
    height: 120px;  /* User Set Value */
    width: 600px;  /* User Set Value */
}
.dryCopyContent {
    position: relative;
}
.dryCopyContent li {
    display: none;
}
.dryCopyContent li.selected {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}




.drySlideContainer {
    border: solid 2px #CCC;  /* User Set Value */
    float: left;
    height: 102px;  /* User Set Value */
    overflow: hidden;
    position: relative;
    width: 714px;  /* User Set Value */
}
.drySlides {
    height: 120px;  /* User Set Value */
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.drySlides li {
    border: solid 1px transparent;  /* User Set Value */
    display: inline-block;
    float: left;
    height: 100px;  /* User Set Value */
    opacity: .5;  /* User Set Value */
    width: 100px;  /* User Set Value */
}
.drySlides li.selected {
    border: solid 1px transparent;
    opacity: 1;
}





/*=== NAVIGATION ===*/
.drySlideNavigation {
    float: left;  /* User Set Value */
    margin: 0;
    padding: 0;
}
.drySlideNavigation li {
    background: #CCC;  /* User Set Value */
    webkit-border-radius: 5px;  /* User Set Value */
    border-radius: 5px;  /* User Set Value */
    cursor: pointer;  /* User Set Value */
    display: inline-block;
    height: 10px;  /* User Set Value */
    margin: 0 5px 0 0;  /* User Set Value */
    padding: 0;
    width: 10px;  /* User Set Value */
}
.drySlideNavigation li.selected {
    background: #666;  /* User Set Value */
}


/*=== DESIGN FOR THE SAMPLES ===*/
* {
    font-family: Helvetica, Ariel, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    border-bottom: solid 1px #CCC;
    height: 60px;
}
header #logo {
    float: left;
}
header nav {
    /*margin: 11px 0 0;*/
}
header nav .mainNavigation li {
    float: left;
    margin: 0;
    padding: 10px 20px;
}
header nav .mainNavigation li a {
    color: #ccc;
    text-decoration: none;
}

#forkMeBaby {
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
}

/* Main Article */
article {
    float: left;
    width: 100%;
}

/* Simple Gallery */
#simpleGallery {
    height: 202px;
    position: relative;
    width: 352px;
}
#simpleGallery .drySlideNavigation {
    bottom: 10px;
    position: absolute;
    right: 8px;
}
#simpleGallery .drySlideNavigation li {
    background: #fcfcfc;
}
#simpleGallery .drySlideNavigation li.selected {
    background: #666;
}


/* Ful Gallery */
#full_dryContentContainer {
    height: 400px;
    width: 600px;
}
#full_dryContent li {
    height: 400px;
    width: 600px;
}
#full_dryCopyContentContainer {
    border: none;
    height: 20px;
    margin: 0;
    padding: 10px 0;
}
#full_dryCopyContentContainer .dryCopyContent {
    margin: 0;
    padding: 0;
}
#full_drySlideNavigation {
    bottom: 10px;
    position: absolute;
    right: 10px;
    z-index: 999;
}
#full_drySlideNavigation li {
    background: #fcfcfc;
}
#full_drySlideNavigation li.selected {
    background: #666;
}

footer {
    border-top: solid 1px #CCC;
    clear: both;
    float: left;
    width: 100%;
}